$darkColor: #343a40;

.big-card-color {
  background-color: #2E2E2E;
}

.triangle-up {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 calc(100vw - 15px) 50px 0;
  border-color: transparent transparent $darkColor transparent;
}
