<section class="mt-20 frow-container">
  something here
  <!--  <mat-horizontal-stepper [linear]="false" #stepper class="mat-elevation-z8 border-radius-4">-->
  <!--    <mat-step label="Choose the videos">-->
  <!--      &lt;!&ndash;      <app-video-table [videos$]="videos$" (selectedVideos)="selectVideos($event)"></app-video-table>&ndash;&gt;-->
  <!--      <div class="frow justify-end mt-10">-->
  <!--        <button mat-raised-button color="primary" matStepperNext>Something here</button>-->
  <!--      </div>-->
  <!--    </mat-step>-->
  <!--    <mat-step label="Confirm your selection">-->
  <!--      &lt;!&ndash;      <app-confirm-videos [selectedVideos]="selectedVideos"></app-confirm-videos>&ndash;&gt;-->
  <!--      <div class="frow justify-between mt-10">-->
  <!--        <button mat-raised-button (click)="stepper.reset()">Reset</button>-->
  <!--      </div>-->
  <!--    </mat-step>-->
  <!--  </mat-horizontal-stepper>-->
</section>
