<mat-card class="live-card">
  <div class="frow row-between mb-30">
    <h3 class="card-heading">Live analysis</h3>
    <button mat-mini-fab (click)="onRefresh()">
      <mat-icon>refresh</mat-icon>
    </button>
  </div>
  <div *ngIf="liveSongs && !isLoading; else loading">
    <div *ngIf="liveSongs.length !== 0; else empty">
      <div class="frow">
        <div class="col-md-2-4 frow row-start">
          <h3 class="col-md-1-1 mb-10 mt-10">Most recent detection</h3>
          <div class="col-md-1-7 mb-10 mt-10">
            <mat-icon class="icon-2x">audiotrack</mat-icon>
          </div>
          <div class="col-md-6-7 mb-10 mt-10">
            <b>{{getLatestSong(liveSongs).title}}</b>
            <div class="frow justify-start">
              <mat-icon class="text-icon">album</mat-icon>
              <span> {{getLatestSongSubtitle(liveSongs)}}</span>
            </div>
            <div class="frow justify-start">
              <mat-icon class="text-icon">timer</mat-icon>
              <span> {{getLatestSongPlayedDuration(liveSongs)}}</span>
            </div>
            <div class="frow justify-start">
              <mat-icon class="text-icon">access_time</mat-icon>
              <span> {{getLatestSong(liveSongs).identifiedAt | date : 'shortTime'}}</span>
            </div>
          </div>
        </div>
        <div class="col-md-2-4 frow row-start">
          <h3 class="col-md-1-1 mb-10 mt-10">Today's results</h3>
          <div class="col-md-1-1 mb-10 mt-10"><b class="bold-64">{{ liveSongs.length }}</b> Songs detected</div>
          <button mat-flat-button color="primary" class="mb-10">Go to results</button>
        </div>
      </div>
    </div>
  </div>
</mat-card>

<ng-template #loading>
  <div class="frow centered mb-10 mt-10">
    <mat-spinner color="primary"></mat-spinner>
  </div>
</ng-template>

<ng-template #empty>
  <div class="mt-10 mb-10">
    No songs identified today
  </div>
</ng-template>
