section {
  height: 100vh;
  display: flex;
  flex-direction: column;

  .drawer-container {
    margin-top: 64px;
    flex-grow: 1;
  }
}

.border-radius-4 {
  border-radius: 4px;
}

.table-container {
  position: relative;
  min-height: 200px;
}

.table-inner-table-container {
  position: relative;
  max-height: 400px;
  overflow: auto;
}

table {
  width: 100%;
}


