@import "node_modules/@angular/material/theming";

@include mat-core();


$mat-gold: (
  50 : #fffae0,
  100 : #fff3b3,
  200 : #ffeb80,
  300 : #ffe34d,
  400 : #ffdd26,
  500 : #ffd700,
  600 : #ffd300,
  700 : #ffcd00,
  800 : #ffc700,
  900 : #ffbe00,
  A100 : #ffffff,
  A200 : #fffbf2,
  A400 : #ffecbf,
  A700 : #ffe5a6,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $light-primary-text,
    A400: $light-primary-text,
    A700: $light-primary-text,
  )
);


$mat-black: (
  50 : #e0e0e0,
  100 : #b3b3b3,
  200 : #808080,
  300 : #4d4d4d,
  400 : #262626,
  500 : #000000,
  600 : #000000,
  700 : #000000,
  800 : #000000,
  900 : #000000,
  A100 : #a6a6a6,
  A200 : #8c8c8c,
  A400 : #737373,
  A700 : #666666,
  contrast: (
    50 : #000000,
    100 : #000000,
    200 : #000000,
    300 : #ffffff,
    400 : #ffffff,
    500 : #ffffff,
    600 : #ffffff,
    700 : #ffffff,
    800 : #ffffff,
    900 : #ffffff,
    A100 : #000000,
    A200 : #000000,
    A400 : #ffffff,
    A700 : #ffffff,
  )
);



$theme-primary: mat-palette($mat-gray);
$theme-accent: mat-palette($mat-purple);
$theme-warn: mat-palette($mat-red);

$theme: mat-dark-theme((color: (
  primary: $theme-primary,
  accent: $theme-accent,
  warn: $theme-warn
)));

$background: map-get($theme-primary, background);

@include angular-material-theme($theme);

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
