<section class="bg-dark section-padding container-fluid">
  <div class="row">
    <div class="col-lg-6 row justify-content-center">
      <div class="w-50 text-center d-inline-block">
        <h1 class="text-light mb-5">Tired of receiving copyright strikes?</h1>
        <h1 class="text-light mb-5">Automated licensed content identification for your Twitch channel</h1>
        <button class="btn btn-primary px-5">Try for free</button>
        <p class="text-light">30 minutes of free content identification included</p>
      </div>
    </div>
    <div class="col-lg-6">
      <img src="assets/images/hero-image.png" alt="hero-image" class="hero-image">
    </div>
  </div>
</section>
