.bold-64 {
  font-size: 64px;
  font-weight: 400;
  line-height: 1;
  margin-bottom: 0;
}

.card-heading {
  color: rgba(255, 255, 255, .7);
  margin: 0;
}

.summary-card {
  margin: 20px;
  padding: 10px 20px;
}
