<footer class="container-fluid bg-light">
  <div class="row justify-content-between py-5">
    <a class="ml-lg-5">
      <img src="/assets/svg/music.svg" alt="" width="32" height="32" title="chevron-down">
      <span class="footer-title ml-2">Soundtrace</span>
    </a>

    <div>
      <button class="btn btn-link ml-lg-5" type="button">Services
        <img src="/assets/svg/chevron-up.svg" alt="" width="16" height="16" title="chevron-down">
      </button>
      <button class="btn btn-link ml-lg-5" type="button">Why audiotech?
        <img src="/assets/svg/chevron-up.svg" alt="" width="16" height="16" title="chevron-down">
      </button>
      <button class="btn btn-link ml-lg-5" type="button">Pricing
        <img src="/assets/svg/chevron-up.svg" alt="" width="16" height="16" title="chevron-down">
      </button>
      <button class="btn btn-primary ml-lg-5 nav-button px-5 mr-lg-3" type="button">Try for free</button>
    </div>
  </div>
</footer>
