<div class="frow justify-between mt-10 mb-10">
  <div class="col-1-4 frow row-start mr-10">
    <mat-icon class="mr-5">videocam</mat-icon>
    <h2 class="mb-0">{{selectedVideos.length}} videos selected</h2>
  </div>
  <div class="col-1-4 frow row-start mr-10">
    <mat-icon class="mr-5">timer</mat-icon>
    <h2 class="mb-0">{{getTotalVideosDuration()}} total time</h2>
  </div>
  <div class="col-1-4 frow row-start mr-10">
    <mat-icon class="mr-5">payment</mat-icon>
    <h2 class="mb-0">Costs</h2>
  </div>
  <div class="col-1-4">
    <button mat-raised-button color="primary">Confirm Payment</button>
  </div>
</div>

<div class="table-container">
  <div class="table-inner-table-container">

    <table mat-table [dataSource]="selectedVideos">
      <ng-container matColumnDef="info">
        <th mat-header-cell *matHeaderCellDef>Info</th>
        <td mat-cell *matCellDef="let video">
          <div class="frow row-start">
            <span class="mr-5">{{video.title}}</span>
            <img *ngIf="video.thumbnailUrl" [src]="getThumbnailUrl(video.thumbnailUrl,'32')" alt="image alt">
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef>Created at</th>
        <td mat-cell *matCellDef="let video">{{video.publishDate | date}}</td>
      </ng-container>

      <ng-container matColumnDef="views">
        <th mat-header-cell *matHeaderCellDef> Views</th>
        <td mat-cell *matCellDef="let video">
          <span>
            <mat-icon aria-hidden="true" inline>visibility</mat-icon>
            {{video.views}}
          </span>
        </td>
      </ng-container>

      <ng-container matColumnDef="duration">
        <th mat-header-cell *matHeaderCellDef> Duration</th>
        <td mat-cell *matCellDef="let video">
          <span>
            <mat-icon aria-hidden="true" inline>visibility</mat-icon>
            {{video.duration}}
          </span>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>
